.container{
    overflow: hidden;
    
    
}

.logo{
    width: 200px;
    height: 100px;
    position: absolute;
}

nav{
    width: 100%;
    overflow: hidden;
    background-color: black;
    height: 100px;
    

}
/* When we give list style-none to ul ,dotted points will be removed */
.k3{
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}

/* when we give text decoration-none underlined link will be gone */
.k1 .k2{
    width: 100px;
    height: 100px;
    display: block;
    padding: 35px 25px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.k1{
    float: left;
}

.k1 .k2:hover{
    background-color: grey;
    text-transform: uppercase;
}

.k4{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    position: absolute;top: 40px;
    margin-left: 100px;
    border-right: 1px solid whitesmoke;
    padding-right: 10px;
}

.k5{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    position: absolute;top: 40px;
    margin-left: 190px;
    
}






/* w1 - homepage img containing div */

.w1{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/* w2- homepage image */

.w2{
    width: 100%;
    height: 600px;
    position: relative;
}

/* w3-Text in homepage image */

.w3{
    color: rgb(235, 34, 34);
    font-size: 50px;
    position: absolute;
    top: 250px;
    font-weight: bold;
    margin-left: 40px;

}


.w3:hover{
    color: yellow;
}







   
/* a1- COMIC GEEK TITLE STYLING */
    .a1{
        text-align: center;
        color:rgb(47, 40, 245);
        font-size: 80px;
        position: absolute; top: 50px;left: 550px;
    }

    .a1:hover{
         transform: scale(1.3);
         z-index: 3;
    }

    .a2{
        background: linear-gradient(to right, #00093c, #2d0b00);
        height: 2950px;
        

    }

    /* COLLECTIONS STYLING */
    .a3{
        color: lightskyblue;
        text-align: center;
        font-size: 70px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 4px;
        cursor: pointer;
        margin-top: 90px;
        position: absolute;left: 600px;
    }

    .a3:hover{
        transform: scale(1.3);
        z-index: 3;
    }

    
    
    /* MARVEL ANIMATION ELEMENTS */
    .parent{
       width: 1600px;
       height: 20px; 
       margin-top: 180px;
       padding-top: 50px;
       position: relative;
    }

    .child{
        width: 250px;
        height: 150px;
        animation: left-to-right 1s alternate;   
    }

    .q1{
        font-size: 30px;
        font-weight: bold;
        color: orange;
        text-align: end;
        position: absolute;left: 600px;top: 50px;
        padding-top: 80px;
         
        
         
    }

    .parent:hover .child{
        transform: translateX(100%);
    }    

    .row{
        width: 100%;
        height: 420px;
        margin-top: 200px;
        display: flex;
        justify-content:space-around;
    }


    .col-3{
        height: 300px;
        width: 400px;
        margin-bottom: 180px;
        
        
        
    }

    .pic{
        height: 400px;
        width: 250px;
        
    }

    .pic:hover{
        transform: scale(1.3);
        z-index: 1;

    }

    
    .comic-title{
        color: whitesmoke;
        padding: 10px 50px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .comic-title:hover{
        color: yellow;
    }




    /* DC CATEGORY TEXT STYLE - e2 */

    .q2{
        color: whitesmoke;
        font-size: 30px;
        font-weight: bold;
        text-align: end;
        position: absolute;left: 600px;top: 0px;
    }

    .q3{
        color: rgb(141, 56, 222);
        font-size: 30px;
        font-weight: bold;
        text-align: end;
        position: absolute;left: 600px;top: 0px;
    }

    .search-box{
        position: absolute;
        left: 50%;
        bottom: -65px;
    }

    .q4{
        border: 4px solid rgb(7, 148, 7);
        height: 40px;
        width: 300px;
        border-radius: 50px;
        padding: 0px 10px;
        background-color:rgb(7, 6, 6);
        color: orangered;
        font-size: 20px;
        
    }

    .btn .fa-solid{
        position: absolute;
        left: 280px;
        bottom: 15px;
        border-radius: 50px;
        width: 60px;
        
    }









    
    form{
        position: absolute;left: 600px;top: 90px;
    }

    .middle{
        height: 2000px;
        width: 100%;
        background:linear-gradient(to right,rgb(210, 68, 68) 0%, rgb(15, 15, 95)100%);
        margin-top: 0;
        position: relative;
    }


    .t1{
        font-size: 80px;
        color: brown;
        text-align: center;
        margin-top: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        position: absolute;top: 50px;left: 650px;
    }

    .t1:hover{
        transform: scale(1.3);
        z-index: 3;
        color: rgb(235, 62, 50);
    }

    .t2{
        font-size: 55px;
        color: rgb(54, 6, 54);
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: 0;
        position: absolute; top: 300px;left: 100px;
        line-height: 70px;

    }

    .t2:hover{
        color: rgb(171, 196, 242);
        
    }

    /* t3 - the whole form */

    .t3{
        margin-left: 550px;
        margin-top: 10px;
        border: 10px solid ;
        height: 600px;
        width: 420px;
        background-color: black;
        position: relative;
        padding: 20px 20px;
    }

    /* t4 - form titile */

    .t4{
        color: rgb(187, 40, 33);
        font-size: 25px;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
        margin-left: 40px;
    }

    .t5{
        margin-top: 30px;
        margin-left: 10px;
        font-size: larger;

    }

    .t6{
        color: aqua;
        position: absolute;
        margin-top: 25px;
        font-size: 18px;
        
        
    }
    .t9{
        position: absolute;
        margin-left: 290px;
        margin-top: 30px;
    }

    .t7{
        color: aquamarine;
        margin-top: 65px;
        font-size: 18px;
    }

    .t8{
        background-color: blue;
        color: whitesmoke;
        height: 50px;
        width: 200px;
        margin-top: 80px;
        margin-left: 85px;
    }

    .form-box{
        padding-top: 150px;
    }

    .y1{
        height: 400px;
        position: absolute;top: 550px;
    }
    

    /* y3 - Latest News styling */
    
    .y3{
        font-size: 65px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(207, 191, 9);
        position: absolute;
        margin-left: 605px;
        margin-top: 180px;
        letter-spacing: 3px;
    }

    .y3:hover{
        transform: scale(1.3);
        z-index: 3;
    }

    .news-box,.news-box2,.news-box3{
        width: 50%;
        height: 700px;
        position: absolute;left:350px;
        margin-top: 280px;
        overflow: hidden;
        border: 5px solid rgb(8, 6, 6);
        
    }

    .y2{
        width: 120%;
        height: 700px;   
    }

    .text-box{
        width: 500px;
        position: absolute;
        top: 400px;left: 100px;
        color:rgb(207, 128, 75);
        font-size: 35px;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .news-box{
        animation: slide1 10s linear infinite;
    }

    .news-box2{
        animation: slide2 10s linear infinite;
    }

    .news-box3{
        animation: slide3 10s linear infinite;
    }

    @keyframes slide1{
        0%{
            visibility: visible;
        }
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: visible;
        }
    }



    @keyframes slide2{
        0%{
            visibility: hidden;
        }
        25%{
            visibility: hidden;
        }
        50%{
            visibility: visible;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: hidden;
        }
    }



    @keyframes slide3{
        0%{
            visibility: hidden;
        }
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: visible;
        }
        100%{
            visibility: hidden;
        }
    }






    .footer{
        width: 100%;
        height: 1500px;
        position: absolute;
        bottom: 0;
        background-color: black;
        color: whitesmoke;
        padding: 100px 0 30px;
        font-size: 13px;
        line-height: 20px;
    }

    .row1{
        width: 100%;
        background-color: black;
        height: 300px;
        color: whitesmoke;
        
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .col{
        padding: 10px;
        flex-basis: 25%;
    }
    .col h3{
        padding-left: 10px;
        text-decoration: underline;
        width: fit-content;
    }
    .col p{
        line-height: 25px;
        padding-left: 10px;
    }

    .col .p1{
        margin-left: 80px;
    
    }
    

    ul li{
        list-style: none;
        margin-bottom: 12px;
        margin-left: 55px;
    }

    ul li a{
        text-decoration: none;
        color: whitesmoke;
    }

    .email{
        border-bottom: 1px solid red;
        width: fit-content;
    }
    .col.p2{
        line-height: 0px;
    }

    /* footer icon styling */

    .icons .fa-brands{
        height: 40px;
        width: 80px;
        line-height: 60px;
        text-align: center;
        border-radius: 50px;
        cursor: pointer;
        font-size: 45px;
        
    }

    

